# 29/05/2015 00:41:40 CDT
AUTO-LOGIN=0
LOGIN-PORT=44453
LOGIN-SERVER-ID=1
LOGIN-SERVER-NAME=LoginServer
LOGIN-VERSION-CHECKS=true
MAX-PACKET-SIZE=496
SESSION-TOKEN-LENGTH=24
ZONE-SERVER-ID=1
ZONE-SERVER-NAME=Localhost
