# 18/08/2015 08:24:35 EDT
CLEAN-CHARACTER-DATA=0
ENABLE-LOGGING=true
GALAXY-MAX-CHARACTERS=1000000
GALAXY-MAX-ONLINE=3000
LOAD-OBJECTS=true
LOAD-OBJECTS-FOR=TATOOINE
LOAD-SCRIPTS=false
LOCAL-DB=nge
LOCAL-PASS=nge
LOCAL-USER=nge
PACKET-DEBUG=true
WIPE-ODB-FILES=0
