[submodule "pswgcommon"]
	path = pswgcommon
	url = git@bitbucket.org:projectswg/pswgcommon.git
[submodule "client-holocore"]
	path = client-holocore
	url = git@bitbucket.org:projectswg/client-holocore.git
