name: PR Test

on:
  pull_request:
  release:
    types: [created, edited, prereleased]
  push:
    branches: 
      - master
      - quality_assurance

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Set up JDK 12
      uses: actions/setup-java@v1
      with:
        java-version: 12
    - name: Test with Gradle
      run: ./gradlew --no-daemon test
