name: Test

on:
  pull_request:
  push:
    branches: 
    - master
    - quality_assurance
    - cu_quality_assurance

jobs:
  code:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21
    - name: Test with Gradle
      run: ./gradlew --no-daemon test

  docker_build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - run: |
          docker build .
